<template>
  <!-- Template ChatView Komponente  -->
  <div class="chatview">
    <ba-chatheader></ba-chatheader>
    <ba-chat></ba-chat>
  </div>
</template>

<script>
export default {
  created () {
    this.$store.dispatch('loadInitMessages')
  }
}
</script>

<style>

</style>
