<template>
  <!-- Template LoginView Komponente -->
  <div class="container-fluid logincontainer">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="page-header">
          <h2>Herzlich Willkommen in der Chat App!!! </h2>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>


    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" v-if="loginView">Login</h3>
            <h3 class="panel-title" v-else>Register</h3>
          </div>
          <div class="panel-body">
            <!-- bedingte Darstellung der Login bzw. Register Komponente  -->
            <ba-login v-if="loginView"></ba-login>
            <ba-register v-else></ba-register>
          </div>
          <div class="panel-footer">
            <p v-if="loginView" v-on:click="changeLogin" class="panelFooter">Registrieren</p>
            <p v-else v-on:click="changeLogin" class="panelFooter">zur&uuml;ck zum Login</p>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>


    </div>
  </div>

</template>




<script>
// Option Objekt LoginView Komponente
export default {
  data () {
    return {
      loginView: true
    }
  },
  methods: {
    changeLogin: function () {
      if (this.loginView === true) {
        this.loginView = false
      } else {
        this.loginView = true
      }
    }
  }
}
</script>





<style>
  .logincontainer{
    background-color: #206C77;
    height: 100vh;
  }

  .page-header{
    color: white;
  }

  .panel{
    margin-top: 50px;
  }

  .panel-footer{
    text-align:right;
  }

  .panelFooter:hover{
    text-decoration: underline;
    cursor: pointer;
  }
</style>
