<template>
  <!-- Template LogoutView Komponente  -->
  <div class="container-fluid logoutcontainer">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Erfolgreich Ausgeloggt</h3>
          </div>
          <div class="panel-body">
            Vielen Dank, dass sie Chat App verwendet haben!
            Wir freuen uns sie bald wieder hier begr&uuml;&szlig;en zu d&ouml;nnen!
          </div>
          <div class="panel-footer">
            <!-- router-link wechselt Route zu LoginView Route -->
            <router-link :to="{name: 'LoginView'}" class="panelFooter"> zum Login </router-link>
          </div>
        </div>


      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
</template>



<script>

</script>



<style>
  .logoutcontainer{
    background-color: #206C77;
    height: 100vh;
  }

  .panel{
    margin-top: 100px;
  }

  .panel-body{
    height: 200px;
    padding-top: 75px;
  }

  .panel-footer{
    text-align:right;
  }

  .panelFooter:hover{
    text-decoration: underline;
    cursor: pointer;
  }
</style>
