<template>
  <!-- Template der Chatheader Komponente -->
  <div class="container-fluid chatviewheader">
    <div class="chatviewtitle"><b>Chat App</b></div>
    <div class="chatviewlogout">
      <!-- v-on:click Event  -->
      <a v-on:click="logout">Logout</a>
    </div>
  </div>
</template>




<script>
// Option Objekt Chatheader Komponente
export default {
  name: 'baChatheader',
  methods: {
    logout: function () {
      // dispatch Vuex store action logoutUser
      this.$store.dispatch('logoutUser')
      console.log('user gets logged out ')
    }
  }
}
</script>




<style>
  .chatviewheader{
    background-color: #206C77;
    color: white;
    height: 75px;
    padding-top: 20px;
  }

  .chatviewheader div.chatviewtitle{
    font-size: 24px;
    float:left;
  }

  .chatviewheader div.chatviewlogout{
    text-align: right;
  }

  .chatviewheader div.chatviewlogout a{
    color: white;
  }
</style>
