<template>
  <!-- Template der Chat Komponente  -->
  <div class="container-fluid chatcontainer">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <ba-user-info></ba-user-info>
          </div>
          <div class="panel-body messagepanel" v-chat-scroll>
            <!-- Message Komponente, Iteriert über messages mit v-for Direktive,
            bindet message Objekt als messsage props an Message Komponente -->
            <ba-message v-for="message in messages" :key="messages.index" :message="message"></ba-message>
          </div>
          <div class="panel-footer">
            <!-- Messageinput Komponente -->
            <ba-message-input></ba-message-input>
          </div>
        </div>

        <div class="col-md-1"></div>
      </div>

    </div>

  </div>

</template>



<script>
// Option Objekt Chat Komponente
import router from '../router'
import {mapGetters} from 'vuex'
export default {
  name: 'baChat',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'getCurrentUser',
      currentuserData: 'getCurrentUserData',
      messages: 'getMessages'
    })

  },

  created () {
    if (this.currentUser === null) {
      // programmatisch Route zu login wechseln
      router.push('login')
    }
  }
}

</script>




<style>
  .messagepanel{
    height: 400px;
    overflow: scroll;
  }

  .chatcontainer{
    padding-top: 50px;
    background-color: #DDDDDD;
    height: 100vh;
  }

</style>
