<template>
  <!-- Template der Login Komponente  -->
  <div class="login">
    <p>Einloggen um die Chat App zu verwenden</p>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label for="loginEmail">Email: </label>
      </div>
      <div class="col-md-4">
        <!-- input mit two-way data binding über v-model -->
        <input type="text" v-model="login.email" id="loginEmail" class="form-control">
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label for="loginPassword">Passwort: </label>
      </div>
      <div class="col-md-4">
        <!-- input mit two-way data binding über v-model -->
        <input type="password" v-model="login.password" id="loginPassword" class="form-control">
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <!-- Button mit v-on:click Event  -->
        <input type="button" class="btn btn-default" value="Login" v-on:click="loginUser" >
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</template>




<script>
  // Option Objekt der Login Komponente
  export default {
    name: 'baLogin',
    data () {
      return {
        login: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      loginUser: function () {
        // dispatch Vuex store action loginUser
        this.$store.dispatch('loginUser', {email: this.login.email, password: this.login.password})
        console.log('user gets logged in')
      }
    }
  }
</script>




<style>

</style>
