<template>
  <!-- Template der Message Komponente  -->
  <div>
  <div class="row">
    <div class="col-md-2" v-if="isUsersMessage"></div>
    <div class="col-md-10">
      <div class="panel messageitem" v-bind:class="{usersMessage : isUsersMessage}">
        <div class="panel-body">
          <span><b>{{messageUser.firstname}} {{messageUser.lastname}}</b></span>
          <span class="messagetime"><i>{{message.timestamp | moment}}</i></span>
          <p>{{message.content}}</p>
        </div>
      </div>

    </div>
    <div class="col-md-2" v-if="isUsersMessage === false"></div>
  </div>
  </div>

</template>




<script>
// Option Objekt der Message Komponente
import moment from 'moment'
import {db} from '../firebase'
import {mapGetters} from 'vuex'
export default {
  name: 'baMessage',
  data () {
    return {
      isUsersMessage: true,
      messageUser: ''
    }
  },
  props: ['message'],
  computed: {
    ...mapGetters({userID: 'getUserId'})
  },
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm:ss a')
    }
  },
  methods: {
    checkUsersMessage: function () {
      if (this.userID === this.message.uid) {
        this.isUsersMessage = true
      } else {
        this.isUsersMessage = false
      }
    },
    setMessageUserData: function () {
      db.ref('userData/' + this.message.uid).on('value', userData => {
        this.messageUser = userData.val()
      })
    }
  },
  created () {
    this.checkUsersMessage()
    this.setMessageUserData()
  }
}
</script>




<style>
  .messageitem{
    border: 1px solid #ddd;
  }

  .messageitem .messagetime {
    float: right;
  }

  .usersMessage {
    background-color: #61EAFD;
  }

</style>
