<template>
  <!-- Template Messageinput Komponente -->
  <div class="row messageinput">
    <div class="col-md-11">
      <!-- input mit two-way data binding über v-model Direktive, v-on:keyup.enter Event  -->
      <input id="newmessageinput" v-model="newmessage" class="form-control" v-on:keyup.enter="sendNewMessage">
    </div>
    <div class="col-md-1">
      <button type="button" v-on:click="sendNewMessage"  class="btn btn-default">
        <span class="glyphicon glyphicon-send" ></span>
      </button>
    </div>
  </div>

</template>




<script>
// Option Objekt Messageinput Komponente
import {mapGetters} from 'vuex'
export default {
  name: 'baMessageInput',
  data () {
    return {
      newmessage: ''
    }
  },
  computed: {
    ...mapGetters({userID: 'getUserId'})
  },
  methods: {
    sendNewMessage: function () {
      // dispatch Vuex store action saveNewMessage
      this.$store.dispatch('saveNewMessage', {content: this.newmessage, uid: this.userID})
      this.newmessage = ''
    }
  }
}
</script>




<style>
  .messageinput #newmessageinput{
    width: 90%;
  }
</style>
