<template>
  <!-- Template der Register Komponente -->
  <div class="register">
    <p>Registrieren um die Chat App zu verwenden</p>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label for="registerfirstname">Firstname: </label>
      </div>
      <div class="col-md-4">
        <!-- input mit two-way data binding über v-model -->
        <input type="text" id="registerfirstname" v-model="user.firstname" class="form-control" required>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label for="registerlastname">Lastname: </label>
      </div>
      <div class="col-md-4">
        <!-- input mit two-way data binding über v-model -->
        <input type="text" id="registerlastname" v-model="user.lastname" class="form-control" required>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label for="registeremail">Email: </label>
      </div>
      <div class="col-md-4">
        <!-- input mit two-way data binding über v-model -->
        <input type="email" id="registeremail" v-model="user.email" class="form-control" required>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label for="registerbirthday">Birthday: </label>
      </div>
      <div class="col-md-4">
        <!-- input mit two-way data binding über v-model -->
        <input type="date" id="registerbirthday" v-model="user.birthday" class="form-control" >
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label for="registerpassword">Password: </label>
      </div>
      <div class="col-md-4">
        <!-- input mit two-way data binding über v-model -->
        <input type="password" id="registerpassword" v-model="user.password" class="form-control" required>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8"></div>
      <!-- Button mit v-on:click Event  -->
      <div class="col-md-2"><input type="button" value="Register" v-on:click="registerUser" class="btn btn-default"></div>
      <div class="col-md-2"></div>
    </div>
  </div>

</template>




<script>
  // Option Objekt der Register Komponente
  export default {
    name: 'baRegister',
    data () {
      return {
        user: {
          firstname: '',
          lastname: '',
          email: '',
          birthday: '',
          password: ''
        }
      }
    },
    methods: {
      registerUser: function () {
        // disatch Vuex store action registerUser
        this.$store.dispatch('registerUser', {firstname: this.user.firstname, lastname: this.user.lastname, email: this.user.email, birthday: this.user.birthday, password: this.user.password})
        console.log('register new user')
      }
    }
  }
</script>




<style>

</style>
