<template>
  <!-- Template Userinfo Komponente -->
  <div class="userinfo" v-if="user">
    <!-- Interpolation user.firstname in Expression  -->
    <h1>Hallo <b>{{user.firstname}} </b>, viel Spa&szlig; beim chatten. </h1>
    <!-- Interpolation user.birthday mit moment Filter  -->
    <p v-if="user.birthday">{{user.birthday | moment}}</p>
  </div>
</template>



<script>
// Option Objekt Userinfo Komponente
import {mapGetters} from 'vuex'
import moment from 'moment'
export default {
  name: 'baUserInfo',
  data () {
    return {
      userinfo: null
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY')
    }
  },
  computed: {
    ...mapGetters({user: 'getCurrentUserData'})
  }
}
</script>



<style>

</style>
